.pure-table .bestanden {

    background-color: YellowGreen;
}

.pure-table .angemeldet {

    background-color: Tan;
}

#hdm-search .pure-button {
    
    border-radius: 0px;
    width: 100%;
    font-size: 100%;
    border: none;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#hdm-search input {
    
    border-radius: 0px;
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    padding-left: 5px;
}

form {
    
    padding: 0px;
    margin: 0px;
    border: none;
}

.viewer_container {
    
    width: 100%;
}

.pure-table tr:hover {
    
    background-color: LightGray;
}

#head_menu {
    
    border: none;
}

.pure-table .Prüfungszeitraum {
    
    background-color: DarkSalmon;
}

.pure-table .MediaNight {
    
    background-color: cadetblue;
}
