<div class="header">
    <h1>Calendar</h1>
</div>
<table class='calendar_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>#</th>
        <th>Date</th>
        <th>Event</th>
    </thead>
    {{#events:num}}
    <tr class="{{event}}">
        <td>{{num+1}}</td>          
        <td>{{date}}</td>
        <td><a href="{{link}}">{{event}}</a></td>
    </tr>
    {{/events}}
</table>