<div class="header">
    <h1>Canteen</h1>
</div>
<h2>Monday</h2>
<table class='canteen_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>Name</th>
        <th>Price</th>
    </thead>
    {{#monday}}
    <tr>     
        <td>{{name}}</td>
        <td>{{price}} €</td>
    </tr>
    {{/monday}}
</table>

<h2>Tuesday</h2>
<table class='canteen_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>Name</th>
        <th>Price</th>
    </thead>
    {{#tuesday}}
    <tr>     
        <td>{{name}}</td>
        <td>{{price}} €</td>
    </tr>
    {{/tuesday}}
</table>

<h2>Wednesday</h2>
<table class='canteen_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>Name</th>
        <th>Price</th>
    </thead>
    {{#wednesday}}
    <tr>     
        <td>{{name}}</td>
        <td>{{price}} €</td>
    </tr>
    {{/wednesday}}
</table>

<h2>Thursday</h2>
<table class='canteen_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>Name</th>
        <th>Price</th>
    </thead>
    {{#thursday}}
    <tr>     
        <td>{{name}}</td>
        <td>{{price}} €</td>
    </tr>
    {{/thursday}}
</table>

<h2>Friday</h2>
<table class='canteen_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>Name</th>
        <th>Price</th>
    </thead>
    {{#friday}}
    <tr>     
        <td>{{name}}</td>
        <td>{{price}} €</td>
    </tr>
    {{/friday}}
</table>