<div class="header">
    <h1>Grades</h1>
</div>
<p>ECTS: {{ects_sum}} | Mean: {{grade_mean}}</p>
<table class='grades_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>#</th>
        <th class='sortable {{ sortColumn === "name" ? "sorted" : "" }}' proxy-tap='sort:name'>Name</th>
        <th class='sortable {{ sortColumn === "ects" ? "sorted" : "" }}' proxy-tap='sort:ects'>ECTS</th>
        <th class='sortable {{ sortColumn === "grade" ? "sorted" : "" }}' proxy-tap='sort:grade'>Grade</th>
        <th class='sortable {{ sortColumn === "result" ? "sorted" : "" }}' proxy-tap='sort:result'>Result</th>
    </thead>
    {{# sort(grades, sortColumn) :num}}
    <tr>
        <td>{{num+1}}</td>
        <td>{{name}}</td>
        <td>{{ects}}</td>
        <td>{{grade}}</td>
        <td class="{{result}}">{{result}}</td>
    </tr>
    {{/grades}}
</table>