<div class="header">
    <h1>Links</h1>
</div>
<ul>
    <li><a href="http://www.hdm-stuttgart.de/aaa">Akademisches Auslandsamt</a></li>
	<li><a href="http://www.hdm-stuttgart.de/sprachenzentrum">Sprachenzentrum</a></li>
</ul>