<div class="header">
    <h1>Schedule</h1>
</div>
<p>ECTS: {{ects_sum}} | Hours: {{hours}}</p>
<table class='schedule_overview pure-table pure-table-horizontal viewer_container'>
    <thead>
        <th>#</th>
        <th class='sortable {{ sortColumn === "id" ? "sorted" : "" }}' proxy-tap='sort:id'>ID</th>
        <th class='sortable {{ sortColumn === "name" ? "sorted" : "" }}' proxy-tap='sort:name'>Name</th>
        <th class='sortable {{ sortColumn === "date" ? "sorted" : "" }}' proxy-tap='sort:date'>Date</th>
        <th class='sortable {{ sortColumn === "name" ? "start" : "" }}' proxy-tap='sort:start'>Start</th>
        <th class='sortable {{ sortColumn === "name" ? "end" : "" }}' proxy-tap='sort:end'>End</th>
        <th class='sortable {{ sortColumn === "name" ? "room" : "" }}' proxy-tap='sort:room'>Room</th>
        <th class='sortable {{ sortColumn === "name" ? "ects" : "" }}' proxy-tap='sort:ects'>ECTS</th>
        <th class='sortable {{ sortColumn === "name" ? "hours" : "" }}' proxy-tap='sort:hours'>Hours</th>
        <th>Delete</th>
    </thead>
    {{# sort(schedule, sortColumn) :num}}
    <tr>
        <td>{{num+1}}</td>          
        <td>{{id}}</td>
        <td><a href="{{link}}">{{name}}</a></td>
        <td>{{date}}</td>
        <td>{{start}}</td>
        <td>{{end}}</td>
        <td>{{room}}</td>
        <td>{{ects}}</td>
        <td>{{hours}}</td>
        <td><button class="pure-button pure-button-primary delete_button" value="{{remove}}">Delete</button></td>
    </tr>
    {{/schedule}}
</table>