<div class="header">
    <h1>Results</h1>
</div>
<table class='search_overview pure-table pure-table-horizontal viewer_container'>
    {{#results:num}}
        <tr>
            <td>{{num+1}}</td>
            <td><a href="{{link}}">{{name}}</a><br><br>{{text}}</td>
        </tr>
    {{/results}}
</table>